.checkmark{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

.mark_icon{
    width: 15px;
    opacity: 0;
}

.checkbox:checked ~ .checkmark {
    background-color: #ffca6e;
    .mark_icon{
        opacity: 1;
    }
}