.button{
    background-color: #4de854;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 5px gray;

}
.button_icon {
    width: 30px;
}