.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4de854;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin-left: 5px;
    cursor: pointer;
}

.button_icon {
    width: 20px;
}