* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(0,62,138);
    background: linear-gradient(90deg, rgba(0,62,138,1) 0%, rgba(166,49,238,1) 100%);
}

.wrapper {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #d6eeff;
    border-radius: 5px;
    padding: 25px 15px 25px 25px;
    overflow-y: scroll;
}

.project_title {
    font-size: 30px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 15px;
}
